/.idea
/.vscode
/vendor
/node_modules
/.env
/.env.local
/.env.*.local
/coverage
/.phpunit.cache
/.phpunit.result.cache
/build
*.log
.DS_Store
composer.lock
package-lock.json
*.swp
*.swo
.php-cs-fixer.cache
.php-cs-fixer.php
